@{
    ViewData["Title"] = "About Me";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@ViewData["Learn"] </p>
<p>@ViewData["Learn1"] </p>
<p>@ViewData["Learn2"] </p>

<address>
    <strong>More informations: </strong> <a href="https://api.whatsapp.com/send?phone=5511941228456">Contact Whatsapp</a>
</address>